extends layout
block content
  .container
    .row
      div(class="col-md-2")
      div(class="col-md-8")
        h1="About CareFlow"
        hr
        p(class="lead")="Hospitals across Ireland have no centralised way of communicating their healthcare demands in real-time. CareFlow is a research project that aims to investigate the hypothesis that if each of the hospitals could see how busy all of the other hospitals are, then better patient care can be achieved by cleverly distributing the workload."
        hr
        br
        p="Starting with the Mater Hospital in Dublin, the goal of CareFlow is to enable every hospital in Ireland to understand the healthcare demands of the entire Irish hospital network, so as to be able to make informed decisions as fast as possible. The current intention of this project is to gather a year's worth of non-intrusive and anonymous emergency room data from as many hospitals as possible so as to be able to understand the potential impact of a redesigned emergency response protocol."
        br
        p="Currently, the Irish emergency response protocol directs patients to the nearest hospital, regardless of how busy that particular hospital may be in comparison to alternatives. With data gathered from the CareFlow research project, a new protocol can be investigated: instead of dispatchers directing patients to the nearest hospital, patients might be advised to attend the hospital that is estimated to be able to treat them the soonest. During periods when there is a significant variation in hospitals' healthcare demands, such a protocol may result in significant healthcare efficiency improvements. The second phase of the CareFlow research project will investigate the impact of such a protocol, based on the data collected in the first phase."
        br
        p() To contact the CareFlow research team, <a href="mailto:cvigoe@gmail.com"> click here</a>.
        br
      div(class="col-md-2")